#root {
	padding: 20px;
	height: 100vh;
}

.App {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;

}

.header {
	margin-bottom: 20px;
	font-size: max(32px, min(5vw, 36px));
	font-weight: 500;
	user-select: none;
}