@import './media';

#root {
	padding: 20px;
	height: 100vh;
}

.App {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;

}

.header {
	margin-bottom: 20px;
	font-size: max(30px, min(5vw, 36px));
	font-weight: 500;
	user-select: none;

	@include mobile {
		margin-bottom: 12px;
	}
}

.count {
	font-size: max(18px, min(5vw, 24px));
	font-weight: 500;
	user-select: none;
}