@import '../../media';

.todo {
	display: flex;
	align-items: center;
	gap: 0 5px;
	padding: 8px 12px;
	font-size: max(19px, min(3.3vw, 22px));
	border-radius: 5px;
	border: 2px solid #555;
	color: #112d49;
	background-color: #fbfef9;
	cursor: pointer;
	user-select: none;

	&:first-of-type {
		margin: 15px 0;
	}

	&:not(:first-of-type) {
		margin-bottom: 15px;
	}

	@include mobile {
		padding: 4px 8px;
	}

	&__icon {
		color: black;
	}

	&_completed {
		background-color: unset;
		color: gray;
		border-color: grey;
	}

	&__check-icon,
	&__delete-icon {
		padding: 0 5px;
		box-sizing: content-box;
		cursor: pointer;
		color: lightgray;
		font-size: 26px;
		transition: transform 0.3s;

		@include hoverOrActive {
			transform: scale(1.2);
		}

		@include mobile {
			font-size: 32px;
		}
	}


	&__check-icon {
		@include hoverOrActive {
			color: green;
		}
	}

	&__delete-icon {
		@include hoverOrActive {
			color: red;
		}
	}

	&.todo_completed &__icon,
	&.todo_completed &__check-icon,
	&.todo_completed &__delete-icon {
		color: gray;
	}



	&__text {
		width: 100%;
		text-align: left;
	}
}