@import '../../media';

.actions__button {
	padding: 8px 15px;
	border-radius: 4px;
	font-size: max(14px, min(3vw, 19px));
	box-shadow: 5px 5px 3px 0px rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	transition: .2s;
	border: none;
	cursor: pointer;

	@include hoverOrActive {
		color: red
	}

	&[type='submit'] {
		@include hoverOrActive {
			color: green
		}
	}
}

.actions__button:disabled,
.actions__button:disabled svg {
	background-color: lightgray;
	color: rgb(0 0 0 / 50%);

	@include hoverOrActive {
		color: rgb(0 0 0 / 50%);
		cursor: not-allowed;
	}
}